@import "tailwindcss";

html,
body {
  color-scheme: dark;
}

.react-datepicker-wrapper input {
  text-align: center;
  padding: 4px 0;
  max-width: 140px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
